@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

.App {
  text-align: center;
}
body {
  font-family: "PT Serif", serif !important;
  font-size: 1rem !important;
}
/****************************** Login page *****************************/

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  background-image: url("./images/abc.jpg");
  background-size: cover;
}

.form-layout {
  margin: 0 auto;
  max-width: 400px;
  width: 90%;
  padding: 1rem 1rem;
  padding-bottom: 0.8rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 7rem;
  width: 7rem;
  margin-top: -4.8rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
}

.logo-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-btn {
  border: none !important ;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  opacity: 1;
  text-align: center !important;
  visibility: visible;
  background-image: url("./images/abc.jpg");
  background-size: cover;
}

.submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.login-heading {
  color: rgb(19, 61, 86);
  display: block;
}

input[id="user"],
input[id="pwd"] {
  background: -webkit-linear-gradient(
    top,
    rgb(189, 187, 187) 0%,
    rgb(206, 204, 204) 21%,
    rgba(228, 228, 228, 1) 79%,
    rgba(242, 242, 242, 1) 100%
  );

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

/****************************** Header component *************************/

/* .navbar-container {
  border-bottom: 1.5px solid rgb(206, 203, 203, 0.8);
} */

/* .navbar {
  padding: 0 !important;
} */
.navbar-item {
  color: black !important;
}

.icon-category {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.3rem;
}

.icon-home {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}

.navbar-item:hover {
  color: white !important;
  background-color: rgb(0, 123, 255) !important;
  padding: 0.5rem 1rem;
}
.nav-menu {
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

.blog-logo {
  height: 2.7rem;
  width: 7.8rem;
}

.login-user-name {
  color: white !important;
  background-color: rgb(0, 123, 255);
  font-size: 1.1rem !important;
  font-weight: 600;
}

/**************************************** Home Page *****************************/

.home-bg {
  background-color: rgb(238, 240, 241);
  padding-top: 1rem;
  padding-bottom: 35rem;
}

.card-title-size {
  font-size: 1.8rem !important;
}

.card {
  border-bottom: 1px solid black;
  padding: 1.5rem 0rem;
}

.home-card-image {
  height: 12rem;
  width: 13rem;
  padding: 0.3rem 0.3rem;
  border: 1.5px solid rgb(168, 166, 166, 0.5);
  border-radius: 0.2rem;
}

.home-card-image:hover {
  border: 1.5px solid rgb(0, 123, 255, 0.5);
}

.line-clamp {
  overflow: hidden;
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.read-more-button {
  border: 1px solid rgba(148, 146, 146, 0.5) !important;
  padding: 0.2rem 0.8rem !important;
  background: -webkit-linear-gradient(
    top,
    rgb(189, 187, 187) 0%,
    rgb(206, 204, 204) 21%,
    rgba(228, 228, 228, 1) 79%,
    rgba(242, 242, 242, 1) 100%
  );
}
.read-more-text {
  color: black;
}

.tags-button {
  padding: 0rem 0.5rem;
  background-color: rgb(58, 135, 173);
  margin-left: 0.2rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .home-card-image {
    height: 15rem;
    width: 18rem;
  }
  .line-clamp {
    width: 99%;
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .home-card-image {
    height: 15rem;
    width: 21.4rem;
  }
  .line-clamp {
    width: 99%;
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .home-card-image {
    height: 15rem;
    width: 24.3rem;
  }
  .line-clamp {
    width: 99%;
    margin-top: 0.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .line-clamp {
    margin-left: 7rem;
    width: 80%;
  }
  .read-more-button {
    margin-left: 7rem;
  }
}

/*************************** Singlepost page ****************/

.home-icon {
  height: 2rem;
  width: 2rem;
}

.single-blog-title {
  font-size: 2rem !important;
}

.single-post-card {
  width: 100%;
}

/************************** TagsTitle page ******************/

.tags-title-button {
  background-image: linear-gradient(#3879ab, #497fa8);
  border: none !important;
  margin-left: 0.3rem;
  color: #ffda5d !important;
  font-weight: bold !important;
}

.tags-title-container {
  padding: 2rem 0;
}

/********************* Table *****************************/

.create-button {
  background-color: rgb(0, 123, 255) !important;
  border: none !important;
  border-radius: 0 !important;
}

.table-layout {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative !important;
}

.table-heading {
  border-top: 3px solid rgb(224, 223, 223);
  border-bottom: 3px solid rgb(224, 223, 223);
}

td {
  /* word-wrap: break-word;
  word-break: break-all; */
  vertical-align: middle;
  width: 100% !important;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .table-layout {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table-heading {
    border-top: 1px solid rgb(224, 223, 223);
    border-bottom: 1px solid rgb(224, 223, 223);
  }
  td {
    padding-right: 3rem !important;
  }
  th {
    padding-right: 3rem !important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .table-layout {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table-heading {
    border-top: 1px solid rgb(224, 223, 223);
    border-bottom: 1px solid rgb(224, 223, 223);
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .table-layout {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .table-heading {
    border-top: 1px solid rgb(224, 223, 223);
    border-bottom: 1px solid rgb(224, 223, 223);
  }
}

/***************************** SweetAlert Dialogbox ***********************/

.sweet-warning {
  background-color: rgb(220, 53, 69);
  font-size: 1.4rem;
}
.sweet-warning:hover {
  background-color: rgb(220, 53, 69) !important;
}
.sweet-cancel {
  background-color: white;
  border: 4px solid rgb(139, 195, 255, 0.4);
  color: rgb(23, 162, 184);
  text-decoration: underline;
  font-size: 1.4rem !important;
}
.sweet-cancel:hover {
  background-color: white !important;
}

.sweet-ok {
  background-color: blue;
  font-size: 1.4rem !important;
}
.sweet-ok:hover {
  background-color: blue !important;
}

.swal-footer {
  text-align: center;
}
.swal-text {
  color: rgb(0, 0, 0, 0.6);
  font-size: 1.2rem !important;
}
.swal-title {
  color: rgb(0, 0, 0);
  font-size: 2.1rem !important;
}

/************************** Tooltip Text ****************************/
